{% extends '/base.html.twig' %}

{% block body %}
    <div id="section-about" class="center page-section">

        <div class="container clearfix">

            <h2 class="mx-auto bottommargin font-body" style="max-width: 700px; font-size: 40px;">A digital agency specialising in Affiliate Marketing & Online Shopping Experiences</h2>

            <p class="lead mx-auto bottommargin" style="max-width: 800px;">
                Here at Proficio Media, we pride ourselves on our extensive knowledge of Affiliate Marketing & Online Shopping, helping brands scale to 7-figures and beyond.
            </p>

            <h3>Our projects</h3>

            <a href="https://swim-diva.com">Swim Diva - The swimwear comparison site</a>
            <p>Swim Diva provides an extensive shopping comparison service, showcasing consumers thousands of swimwear items from their favourite brands.</p>
            <br />
            <a href="http://swim-diva.com">Swim Diva - The swimwear comparison site</a>
            <p>Swim Diva provides an extensive shopping comparison service, showcasing consumers thousands of swimwear items from their favourite brands.</p>

            <div class="clear"></div>
        </div>
    </div>
{% endblock %}