{% extends '/base.html.twig' %}

{% block body %}
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:150px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h1>What is a business valuation?</h1>

                                        <p><strong>A business valuation refers to the process of determining the financial worth of a company</strong>. It involves a comprehensive analysis of various factors to determine the fair market value of the business. A valuations takes many different key elements into  consideration. These include financial performance, market analysis, asset valuation, and risk assessment.</p>



                                        <h2>The Purpose of a Business Valuation</h2>


                                        <h2>Key Factors in Business Valuation</h2>

                                        <h2>Common Methods of a Business Valuation</h2>

                                        <h2>The importance of regular Business Valuations</h2>

                                        <h2>Conclusion</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 20px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Quick & easy business valuations -->
                    {% include 'Components/quick-valuation-section.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}