<!-- Quick & easy business valuations -->
<div class="section mcb-section" style="padding-top:100px">
    <div class="section_wrapper mcb-section-inner"></div>
</div>
<div class="section mcb-section dark bg-cover" id="applynow" style="padding-top:220px;padding-bottom:120px;background-image:url(/loans3/images/loans3-round-bg.png);background-repeat:no-repeat;background-position:center top">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one valign-top bg-contain clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_divider">
                    <hr class="no_line" style="margin:0 auto 50px">
                </div>
                <div class="column mcb-column one column_column column-margin-30px">
                    <div class="column_attr clearfix align_center">
                        <h2>Quick & easy <br> business valuations</h2>
                    </div>
                </div>
                <div class="column mcb-column one-third column_placeholder">
                    <div class="placeholder">
                        &nbsp;
                    </div>
                </div>
                <div class="column mcb-column one-third column_button">
                    <a class="button scroll button_full_width button_size_2 button_js" href="{{ path('web_homepage') }}" style="background-color:#65ca46!important;color:#fff;"><span class="button_label"><strong>Start Your Valuation</strong></span></a>
                </div>
            </div>
        </div>
    </div>
</div>